#bot stuff
ENV=debug               # debug or prod
LOG_PATH=./log.txt      # full path to logfile

#discord stuff
DISCORD_TOKEN=
ADMIN=                  # seperate multiple values by comma
BROADCAST_CHANNEL=
RESTRICTED_CHANNELS=    # seperate multiple values by comma

#api keys
ASGARD_TOKEN=
ALLIANCE_ID=
YOUTUBE_API=
WOLFRAMALPHA_API=
